.eq-paper {
  @include paper;
  border: none;
  height: $height-eq;
  margin: 20px auto;
  max-width: 480px;  
}

.eq-body {
  padding: 14px 0;
}

@media #{$breakpoint-medium} {
  .eq-paper {
    margin: 0;
    max-width: none;
  }
}
