.footer {
  background-color: $color-highlight;
  color: white;
  padding: 10px 0;
}

.footer .contact {
  color: white;
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: 1px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &:visited {
    color: inherit;
  }
}

.footer .copyright {
  font-size: 14px;
}
