.player-component {
  margin: 0 auto;
  max-width: 480px;
}

.player-paper {
  @include paper;
  background-color: black;
  height: 270px;
  line-height: 270px;
  margin-bottom: $margin-bottom-youtube;
}

.player-paper i {
  color: darkgrey;
}

@media #{$breakpoint-medium} {
  .player-component {
    margin: 0;
    max-width: none;
  }
}
