.player-buttons .next-button,
.player-buttons .similar-button {
  @include paper;
  background-color: $color-highlight;
  border: none;
  color: $color-highlight-extra-lightened;
  display: inline-block;
  // height: $height-next-button;
  line-height: $height-next-button;
  width: 49.5%;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.player-buttons .next-button {
    margin-right: .495%;
}

.player-buttons .similar-button {
    margin-left: .495%;
}

.player-buttons .button-disabled {
  color: black;
  background-color: $color-light-grey;
  &:hover {
    color: black;
    cursor: default;
  }
}

.similar-button a {
  color: inherit; //$color-highlight-extra-lightened;
  display:inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: -2px; // for some reason the a tag makes the button's height bigger by 2px
  text-decoration: none;
}

@media #{$breakpoint-medium} {
  .similar-button a {
    font-size: 18px;
  }
}
