@import 'functions';

$font-dosis: 300 20px/30px "Dosis", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-bold-light: 400;
$font-weight-bold: 600;

$color-background: mix(black, white, 5%);
$color-highlight: #187767;
$color-highlight-lightened: tint($color-highlight, 40%);
$color-highlight-extra-lightened: tint($color-highlight, 60%);
$color-light-grey: mix(black, white, 12%);
$color-empty-star: mix(black, white, 20%);
$color-empty-star-hover: mix(black, white, 40%);

$grid-columns: 12;
$grid-max-width: 1140px;

$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 980px)";

$height-youtube: 270px;
$margin-bottom-youtube: 8px; 
$height-next-button: 48px;
$height-eq: $height-youtube + $margin-bottom-youtube + $height-next-button;
